@import "tailwindcss";

@theme {
  --color-type-normal-50: #ffffff;
  --color-type-normal-100: #f6f6f2;
  --color-type-normal-200: #eeede4;
  --color-type-normal-300: #e5e5d7;
  --color-type-normal-400: #dcdcca;
  --color-type-normal-500: #54543d;
  --color-type-normal-600: #434331;
  --color-type-normal-700: #323225;
  --color-type-normal-800: #222118;
  --color-type-normal-900: #11110c;
  --color-type-normal-950: #000000;
  --color-type-fire-50: #ffffff;
  --color-type-fire-100: #fdf2ea;
  --color-type-fire-200: #fce6d6;
  --color-type-fire-300: #fad9c1;
  --color-type-fire-400: #f8cdac;
  --color-type-fire-500: #774018;
  --color-type-fire-600: #5f3413;
  --color-type-fire-700: #47270e;
  --color-type-fire-800: #301a0a;
  --color-type-fire-900: #180d05;
  --color-type-fire-950: #000000;
  --color-type-water-50: #ffffff;
  --color-type-water-100: #eff4fe;
  --color-type-water-200: #e0e9fc;
  --color-type-water-300: #d0defa;
  --color-type-water-400: #c1d3f9;
  --color-type-water-500: #324878;
  --color-type-water-600: #283a60;
  --color-type-water-700: #1e2b48;
  --color-type-water-800: #141d30;
  --color-type-water-900: #0a0e18;
  --color-type-water-950: #000000;
  --color-type-electric-50: #ffffff;
  --color-type-electric-100: #fefaea;
  --color-type-electric-200: #fdf6d5;
  --color-type-electric-300: #fdf1c0;
  --color-type-electric-400: #fcecab;
  --color-type-electric-500: #7c6816;
  --color-type-electric-600: #635312;
  --color-type-electric-700: #4a3e0d;
  --color-type-electric-800: #312a09;
  --color-type-electric-900: #191504;
  --color-type-electric-950: #000000;
  --color-type-grass-50: #ffffff;
  --color-type-grass-100: #f2f9ed;
  --color-type-grass-200: #e4f4db;
  --color-type-grass-300: #d7eec9;
  --color-type-grass-400: #cae9b7;
  --color-type-grass-500: #3d6426;
  --color-type-grass-600: #31501e;
  --color-type-grass-700: #253c17;
  --color-type-grass-800: #18280f;
  --color-type-grass-900: #0c1408;
  --color-type-grass-950: #000000;
  --color-type-ice-50: #ffffff;
  --color-type-ice-100: #f4fbfb;
  --color-type-ice-200: #eaf7f7;
  --color-type-ice-300: #e0f4f3;
  --color-type-ice-400: #d5f0ef;
  --color-type-ice-500: #4b6c6b;
  --color-type-ice-600: #3c5756;
  --color-type-ice-700: #2d4140;
  --color-type-ice-800: #1e2b2b;
  --color-type-ice-900: #0f1615;
  --color-type-ice-950: #000000;
  --color-type-fighting-50: #ffffff;
  --color-type-fighting-100: #f9eaea;
  --color-type-fighting-200: #f3d5d4;
  --color-type-fighting-300: #edc0be;
  --color-type-fighting-400: #e7aba9;
  --color-type-fighting-500: #611714;
  --color-type-fighting-600: #4e1210;
  --color-type-fighting-700: #3a0e0c;
  --color-type-fighting-800: #270908;
  --color-type-fighting-900: #130504;
  --color-type-fighting-950: #000000;
  --color-type-poison-50: #ffffff;
  --color-type-poison-100: #f6ecf6;
  --color-type-poison-200: #edd8ec;
  --color-type-poison-300: #e3c5e3;
  --color-type-poison-400: #dab2d9;
  --color-type-poison-500: #521f50;
  --color-type-poison-600: #411940;
  --color-type-poison-700: #311330;
  --color-type-poison-800: #210c20;
  --color-type-poison-900: #100610;
  --color-type-poison-950: #000000;
  --color-type-ground-50: #ffffff;
  --color-type-ground-100: #fcf9f0;
  --color-type-ground-200: #f9f2e0;
  --color-type-ground-300: #f6ecd1;
  --color-type-ground-400: #f3e5c1;
  --color-type-ground-500: #716032;
  --color-type-ground-600: #5a4c28;
  --color-type-ground-700: #44391e;
  --color-type-ground-800: #2d2614;
  --color-type-ground-900: #17130a;
  --color-type-ground-950: #000000;
  --color-type-flying-50: #ffffff;
  --color-type-flying-100: #f6f4fe;
  --color-type-flying-200: #eee9fd;
  --color-type-flying-300: #e5ddfb;
  --color-type-flying-400: #ddd2fa;
  --color-type-flying-500: #54487a;
  --color-type-flying-600: #443961;
  --color-type-flying-700: #332b49;
  --color-type-flying-800: #221d31;
  --color-type-flying-900: #110e18;
  --color-type-flying-950: #000000;
  --color-type-psychic-50: #ffffff;
  --color-type-psychic-100: #feeef3;
  --color-type-psychic-200: #fedde7;
  --color-type-psychic-300: #fdccdb;
  --color-type-psychic-400: #fdbbcf;
  --color-type-psychic-500: #7c2a44;
  --color-type-psychic-600: #642236;
  --color-type-psychic-700: #4b1a29;
  --color-type-psychic-800: #32111b;
  --color-type-psychic-900: #19080d;
  --color-type-psychic-950: #000000;
  --color-type-bug-50: #ffffff;
  --color-type-bug-100: #f6f8e8;
  --color-type-bug-200: #edf1d1;
  --color-type-bug-300: #e4eaba;
  --color-type-bug-400: #dbe3a3;
  --color-type-bug-500: #535c0d;
  --color-type-bug-600: #424a0a;
  --color-type-bug-700: #323808;
  --color-type-bug-800: #212505;
  --color-type-bug-900: #111203;
  --color-type-bug-950: #000000;
  --color-type-rock-50: #ffffff;
  --color-type-rock-100: #f8f6eb;
  --color-type-rock-200: #f0ecd7;
  --color-type-rock-300: #e9e3c3;
  --color-type-rock-400: #e2d9af;
  --color-type-rock-500: #5b501b;
  --color-type-rock-600: #494016;
  --color-type-rock-700: #373010;
  --color-type-rock-800: #24200b;
  --color-type-rock-900: #121005;
  --color-type-rock-950: #000000;
  --color-type-ghost-50: #ffffff;
  --color-type-ghost-100: #f1eef5;
  --color-type-ghost-200: #e3ddea;
  --color-type-ghost-300: #d5cde0;
  --color-type-ghost-400: #c7bcd5;
  --color-type-ghost-500: #3a2c4c;
  --color-type-ghost-600: #2e233c;
  --color-type-ghost-700: #231a2d;
  --color-type-ghost-800: #17111e;
  --color-type-ghost-900: #0b090f;
  --color-type-ghost-950: #000000;
  --color-type-dragon-50: #ffffff;
  --color-type-dragon-100: #f1ebff;
  --color-type-dragon-200: #e2d7fe;
  --color-type-dragon-300: #d4c2fe;
  --color-type-dragon-400: #c5aefe;
  --color-type-dragon-500: #381a7e;
  --color-type-dragon-600: #2c1565;
  --color-type-dragon-700: #21104c;
  --color-type-dragon-800: #160b32;
  --color-type-dragon-900: #0b0519;
  --color-type-dragon-950: #000000;
  --color-type-dark-50: #ffffff;
  --color-type-dark-100: #f1eeec;
  --color-type-dark-200: #e2ddda;
  --color-type-dark-300: #d4cdc8;
  --color-type-dark-400: #c6bcb5;
  --color-type-dark-500: #382c23;
  --color-type-dark-600: #2d231c;
  --color-type-dark-700: #221a15;
  --color-type-dark-800: #16110e;
  --color-type-dark-900: #0b0907;
  --color-type-dark-950: #000000;
  --color-type-steel-50: #ffffff;
  --color-type-steel-100: #f8f8fa;
  --color-type-steel-200: #f1f1f5;
  --color-type-steel-300: #e9e9f0;
  --color-type-steel-400: #e2e2eb;
  --color-type-steel-500: #5c5c67;
  --color-type-steel-600: #494952;
  --color-type-steel-700: #37373e;
  --color-type-steel-800: #252529;
  --color-type-steel-900: #121215;
  --color-type-steel-950: #000000;
  --color-type-fairy-50: #ffffff;
  --color-type-fairy-100: #fbf3f7;
  --color-type-fairy-200: #f7e7ef;
  --color-type-fairy-300: #f3dae6;
  --color-type-fairy-400: #efcede;
  --color-type-fairy-500: #6b4256;
  --color-type-fairy-600: #563545;
  --color-type-fairy-700: #402834;
  --color-type-fairy-800: #2b1b23;
  --color-type-fairy-900: #150d11;
  --color-type-fairy-950: #000000;
}
